<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gestion de Clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h4>Sistema de Gestion de Mascotas</h4>
    <h6>{{fechaHora}}</h6>
    {% block content %}
    {% endblock %}
    <br>
    <br>
    <h6>::Sistema creado en Django</h6>
</body>
</html>