{% extends 'base.html' %}
{% block content %}
<a href="/mascota/listar/">::Ver detalle de mascotas::</a><br>
<h3>Detalle de la mascota</h3>
nombre = {{mascota.nombre}} <br>
imagen = {{mascota.imagen}} <br>
razaPredominante = {{mascota.razaPredominante}} <br>
descripcion = {{mascota.descripcion}} <br>
estado = {{mascota.estado}} <br>
{% endblock%}