{% extends 'base.html' %}
{% block content %}
<a href="/persona/listar/">:: ver listado de Personas::</a><br>
<h3>Detalle de la Persona</h3>
Nombre = {{Persona.nombre}}<br>
Rut = {{Persona.rut}}<br>
Fono = {{Persona.fono}}<br>
Fecha = {{Persona.fec}}<br>
Email = {{Persona.email}}<br>
{% endblock %}

