 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>:::: Mis Perris ::::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h4>Sistema Mis Perris</h4>
    <h6>{{fechaHora}}</h6>
</body>
</html>