{% extends 'base.html' %}
{% block content %}
{% for a in Mascota %}
{{a.nombre}} 
<a href='/mascota/detalle/{{a.pk}}'>Detalle</a>
<a href='/mascota/eliminar/{{a.pk}}'>Eliminar</a>
<a href='/mascota/editar/{{a.pk}}'>Editar</a>
<br>
{% endfor %}
{% endblock %}