{% extends 'base.html' %}
{% block content %}
{% for a in Persona %}
{{a.nombre}} 
<a href='/persona/detalle/{{a.pk}}'>Detalle</a>
<a href='/persona/eliminar/{{a.pk}}'>Eliminar</a>
<a href='/persona/editar/{{a.pk}}'>Editar</a>
<br>
{% endfor %}
{% endblock %}