<form method="POST">
    <label>Login</label><br>
    <input type="text" name="login"><br>
    <label> Password</label><br>
    <input type="password" name="password"><br>
    <button type="submit">Ingresar</button>
</form>